# Dependencies
node_modules/

# Environment and sensitive variables
.env
.env*.local
atlas-credentials.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db
